/* Resets */
* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
}
/* Colors */
.bg-blue {
  background-color: dodgerblue;
}

.bg-gray {
  background-color: gray;
}

.bg-gray {
  background-color: rgb(222, 222, 222);
}

.bg-dark-blue {
  background-color: rgb(13, 30, 91);
}
.bg-dark-blue-2{
  background-color: #343e55;
}
.color-gray {
  color: gray;
}

.color-light-gray {
  color: lightgray;
}

.color-blue {
  color: dodgerblue;
}

.color-black {
  color: black;
}

/* Common classes */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Index page */
/* Header */
header {
  height: 100vh;
}

.left-header,
.right-header {
  flex-basis: 50%;
}

.logo {
  top: 20px;
  left: 20px;
  width: 100px;
}

.right-header ul {
  top: 20px;
  right: 20px;
  list-style: none;
}

.right-header ul li:not(:last-child) {
  margin-right: 15px;
}

.right-header ul li a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px;
}

.left-header-text {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.left-header-text button {
  padding: 15px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
}

.header-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  z-index: 99;
}

.right-header-text {
  bottom: 20px;
  right: 20px;
  width: 70%;
}

/* Section 2 */

.section2 {
  padding: 50px;
}
.section2-inner {
  width: 70%;
  margin: 0 auto;
}

.section2-inner img {
  width: 50%;
}

.section2-text-right {
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
}

.section2-text-right img {
  width: 150px;
}

.section2-text-right button {
  border-radius: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(27, 109, 151);
}

.left-box {
  flex-basis: 70%;
}

.right-box {
  flex-basis: 30%;
}

.left-box p:first-of-type {
  font-size: 20px;
}

.left-box button {
  background-color: transparent;
  border: 1px solid dodgerblue;
  border-radius: 50px;
  padding: 10px;
}

/* Section 3 */
/* section-3 */
.section3 {
  padding: 50px;
}

.section3-inner {
  width: 70%;
  margin: 0 auto;
}

.section3-testimonials {
  width: 70%;
  margin: 0 auto;
}
.section3-text-second-row {
  direction: rtl;
  margin-top: 50px;
}

.section3-links {
  justify-content: center;
  margin: 50px 0;
}

.section3-links-box div {
  flex-direction: column;
}

.section3-links-box:not(:last-child) {
  margin-right: 50px;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
}

footer p {
  margin-bottom: 0;
}

/* Contact us page */
/* Navigation */
nav {
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li:not(:last-child) {
  margin-right: 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px;
}

/* Contact */

.contact-section {
  padding: 50px;
}

.contact-section-inner {
  width: 60%;
  margin: 0 auto;
}

.contact-section-inner p {
  font-size: 30px;
  margin-bottom: 0;
}

.border-top {
  border-top: 1px solid dodgerblue;
  width: 60px;
}

/* Google maps */
.google-maps-left {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.google-maps-right {
  flex-basis: 60%;
}

/* Contact form */
.contact-us-form {
  text-align: center;
  padding: 50px;
}
.contact-us-form-inner {
  width: 40%;
  margin: 0 auto;
}

.contact-form input {
  display: block;
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(209, 209, 209);
}

.contact-us-form-inner button {
  background-color: rgb(252, 252, 250);
  padding: 10px;
  border-radius: 50px;
  margin-top: 15px;
  border: none;
}
.footer {
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .row{
  justify-content: center;
}
.footer .row .col{
  flex-basis: 17%;
}
.footer .social-icons i{
  color: white;
  padding: 10px;
  background-color: lightgray;
  border-radius: 50%;
  font-size: 14px;
}
.footer ul{
  padding: 5px;
}
.footer .inner ul li{
  list-style-type: none;
  padding-bottom: 5px;
}
.footer .inner h3:not(:last-child){
  margin-right: 10px;
}

/* Links section */
.links-section {
  padding: 50px;
}

.links-section-inner {
  width: 70%;
  margin: 0 auto;
}

.links {
  justify-content: center;
  margin: 50px 0;
}

.links-box div {
  flex-direction: column;
}

.links-box:not(:last-child) {
  margin-right: 70px;
}
.section3-btn {
  border-radius: 25px;
  border-color: blue;
  padding: 15px;
  background-color: white;
  cursor: pointer;
}

/* Google maps */
.google-maps-left {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.google-maps-right {
  flex-basis: 60%;
}


.view-more {
  color: black;
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
}
button {
  border: 1px solid dodgerblue;
  background-color: white;
  color: dodgerblue;
  padding: 10px 20px;
  border-radius: 20px;
}

.form-section{
  text-align: center;
  min-height: 20vh;
  background-color: rgb(17, 17, 49);
}
.form-section p{
  padding-top: 20px;
  color: lightgray;

}
.form-section input{
  padding: 10px 15px;
  border-radius: 20px;
  width: 20%;
  margin: 20px;
  margin-bottom: 10px;
  background-color: rgb(66, 66, 78);
  color: rgb(231, 231, 231) ;
  border: 1px solid rgb(231, 231, 231);
  outline: none;
}

.form-section button{
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  border: hidden;
  font-weight: bold;
}
